<!DOCTYPE html>
<html ng-app>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Incluir angular-->
    <script src="js/lib/angular.min.js"></script>

  </head>
  <body>

    <!-- FILTROS -->
    <div class="container">
      <h1>Evaluacion</h1>
      <h4>Angular 101</h4>
      <hr>
      <p>
        Nombre Completo:
        <br>
        <input 
          class="form-control" 
          type="text" 
          placeholder="Ingrese el nombre" ng-model="nombre" autofocus>
      </p>
      <p>
        Lugar de trabajo:
        <br>
        <input 
          class="form-control" 
          type="text" 
          placeholder="Ingrese lugar de trabajo" ng-model="trabajo">
      </p>
      <p>
        Salario en Dolares:
        <br>
        <input 
          class="form-control" 
          type="number" placeholder="Ingrese salario" ng-model="salario">
      </p>
      <hr>
      <p>
        Nombre: {{nombre | uppercase}}
        <br>
        Lugar de trabajo: {{trabajo | lowercase}}
        <br>
        Con un salario de: {{salario | currency}}
      </p>
    </div>

  </body>
</html>